.DS_Store
__pycache__
.ipynb_checkpoints
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
dist
/build

*.extensions.yaml
*.namespace.yaml

files/*
Pipfile.lock
*.egg-info
.tox
.snakemake
.pytest_cache

studio/config.yaml
studio/test_data/output
docs/_build

studio/notebooks
conda/envs/*
tensorflow-2.4.1-py3-none-any.whl
