.DS_Store
__pycache__
.ipynb_checkpoints
.vscode/*
!.vscode/settings.json
dist
./build

optinist.extensions.yaml
optinist.namespace.yaml

files/*
Pipfile.lock
optinist.egg-info
.tox
.snakemake
.pytest_cache

optinist/config.yaml

docs/_build

optinist/notebooks
conda/envs/*
tensorflow-2.4.1-py3-none-any.whl