.DS_Store
__pycache__
.ipynb_checkpoints
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
dist
/build
optinist/frontend

optinist.extensions.yaml
optinist.namespace.yaml

files/*
Pipfile.lock
optinist.egg-info
.tox
.snakemake
.pytest_cache

optinist/config.yaml
optinist/test_data/output
docs/_build

optinist/notebooks
conda/envs/*
tensorflow-2.4.1-py3-none-any.whl