fastapi==0.68.1
uvicorn==0.15.0
aiofiles
numpy
tqdm
pyyaml
imageio
tifffile
python-multipart
future
pynwb
psutil
nbstripout
snakemake
# git+https://github.com/ShogoAkiyama/snakemake@main#egg=snakemake
jinja2==3.0.3
suite2p==0.10.3