[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
websockets = "*"
statsmodels = "*"
numpy = "*"
imageio = "*"
aiofiles = "*"
python-multipart = "*"
future = "*"
scikit-image = "*"
sklearn = "*"
pynwb = "*"
ipyparallel = "*"
holoviews = "*"
psutil = "*"
nbstripout = "*"
tensorflow = "*"
torch = "*"
opencv-python = "*"
suite2p = "*"
PyYAML = "*"
Cython = "*"
caiman = {ref = "6e6608cad3c81349a7c50043dc4079d2ab0775eb", git = "https://github.com/flatironinstitute/CaImAn"}
absl-py = "*"
anyio = "*"
appnope = "*"
asgiref = "*"
astunparse = "*"
attrs = "*"
backcall = "*"
bcrypt = "*"
bleach = "*"
bokeh = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
colorcet = "*"
cryptography = "*"
cycler = "*"
debugpy = "*"
decorator = "*"
entrypoints = "*"
flatbuffers = "*"
fonttools = "*"
gast = "*"
google-auth-oauthlib = "*"
google-auth = "*"
google-pasta = "*"
grpcio = "*"
h11 = "*"
h5py = "*"
hdmf = "*"
idna = "*"
importlib-metadata = "*"
ipykernel = "*"
ipython = "*"
jedi = "*"
joblib = "*"
jsonschema = "*"
jupyter-client = "*"
jupyter-core = "*"
keras = "*"
kiwisolver = "*"
libclang = "*"
llvmlite = "*"
matplotlib-inline = "*"
matplotlib = "*"
natsort = "*"
nbformat = "*"
nest-asyncio = "*"
networkx = "*"
numba = "*"
oauthlib = "*"
opt-einsum = "*"
pandas = "*"
panel = "*"
param = "*"
paramiko = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
protobuf = "*"
ptyprocess = "*"
pyasn1-modules = "*"
pyasn1 = "*"
pycparser = "*"
pyct = "*"
pydantic = "*"
pyparsing = "*"
pyqtgraph = "*"
pyrsistent = "*"
python-dateutil = "*"
pytz = "*"
pyviz-comms = "*"
pyzmq = "*"
rastermap = "*"
requests-oauthlib = "*"
requests = "*"
rsa = "*"
"ruamel.yaml.clib" = "*"
"ruamel.yaml" = "*"
sbxreader = "*"
scanimage-tiff-reader = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
sniffio = "*"
starlette = "*"
tensorboard-data-server = "*"
tensorboard-plugin-wit = "*"
tensorboard = "*"
tensorflow-estimator = "*"
tensorflow-io-gcs-filesystem = "*"
termcolor = "*"
threadpoolctl = "*"
tifffile = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
typing-extensions = "*"
urllib3 = "*"
wcwidth = "*"
webencodings = "*"
wrapt = "*"
zipp = "*"
ipython_genutils = "*"
Jinja2 = "*"
Keras-Preprocessing = "*"
Markdown = "*"
MarkupSafe = "*"
Pillow = "*"
Pygments = "*"
PyNaCl = "*"
PyWavelets = "*"
Werkzeug = "*"

[dev-packages]

[requires]
