SECRET_KEY='12345678'
USE_FIREBASE_TOKEN=False
REFRESH_TOKEN_EXPIRE_MINUTES=1440 # 24 hours

IS_STANDALONE=True

# NOTE: Uncomment and set your own values when using for multiple user
# MYSQL_SERVER=db:3306
# MYSQL_ROOT_PASSWORD=db_root_password
# MYSQL_DATABASE=studio
# MYSQL_USER=studio_db_user
# MYSQL_PASSWORD=studio_db_password
# ECHO_SQL=False
